<main class="flex h-full flex-col items-center mt-20 gap-5">
  <h1 class="w-80 text-pretty text-center text-2xl">
    Bienvenido a Parinacoop Cooperativa en Línea
  </h1>
  <div
    class="flex size-96 flex-col items-center justify-center rounded-xl bg-[#F6F6F6] py-5"
  >
    <form
      class="flex flex-col items-center justify-center gap-10"
      (ngSubmit)="onSubmit()"
      [formGroup]="loginForm"
    >
      <label class="flex flex-col">
        <span class="text-sm font-medium uppercase">Rut del cliente</span>
        <input
          class="h-10 w-72 rounded-md border border-[#A6A6A6] px-2"
          type="text"
          formControlName="rut"
        />
      </label>
      <label class="flex flex-col">
        <span class="text-sm font-medium uppercase">Clave</span>
        <input
          class="h-10 w-72 rounded-md border border-[#A6A6A6] px-2"
          type="password"
          formControlName="password"
        />
      </label>
      <button
        [ngClass]="[
          'bg-primary-500 h-10 w-72 rounded-full text-white transition-colors duration-100',
          'disabled:bg-primary-100 disabled:text-primary-400',
          'hover:bg-primary-600'
        ]"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Ingresar
      </button>
    </form>
    <a class="mt-5 italic" href="#">Olvidé mi clave</a>
  </div>
</main>
