<main class="mt-20 flex h-full flex-col items-center gap-5">
  <h1 class="w-80 text-pretty text-center text-2xl">
    Bienvenido a Parinacoop Cooperativa en Línea
  </h1>
  <div
    class="flex size-96 flex-col items-center justify-center rounded-xl bg-[#F6F6F6] py-5"
  >
    <form
      class="flex flex-col items-center justify-center gap-10"
      (ngSubmit)="onSubmit()"
      [formGroup]="loginForm"
    >
      <app-form-field
        label="Rut del cliente"
        type="text"
        formControlName="rut"
      />
      <app-form-field
        label="Clave"
        type="password"
        formControlName="password"
      />
      <button
        [ngClass]="[
          'h-10 w-72 rounded-full bg-primary-500 text-white transition-colors duration-100',
          'disabled:bg-primary-100 disabled:text-primary-400',
          'hover:bg-primary-600',
        ]"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Ingresar
      </button>
    </form>
    <a class="mt-5 italic" href="#">Olvidé mi clave</a>
  </div>
</main>
