<header>
  <nav class="flex items-center justify-around bg-nav-color">
    <img
      src="images/logo-corfo.png"
      class="h-20"
      alt="Corfo crédito con aval de Corfo"
    />
    <img
      src="images/logo-parinacoop.png"
      class="h-20"
      alt="Parinacoop cooperativa de ahorro y crédito"
    />
    <div class="flex gap-3">
      <a
        class="inline-block w-48 rounded-full border border-secondary py-2 text-center text-secondary"
        [routerLink]="['register']"
        >Hazte cliente</a
      >
      <a
        class="text-white inline-block w-48 rounded-full bg-secondary py-2 text-center"
        [routerLink]="['login']"
        routerLinkActive="active"
        >Banca en Línea</a
      >
    </div>
  </nav>
</header>
<main class="overflow-y-auto">
  <router-outlet />
</main>
<footer class="bg-black h-40"></footer>
